:root {
    --frame: rgba(255, 255, 255, 1);
    --mine-sharft: rgba(45, 45, 45, 1);
    --cream-muda: rgba(252, 252, 244, 1);
    --putih: rgba(255, 255, 255, 1);
    --kuning: rgba(253, 221, 60, 1);
    --orange: rgba(241, 106, 87, 1);
    --coktu: rgba(157, 104, 70, 1);
    --baby-blue: rgba(148, 198, 214, 1);
    --ungu: rgba(200, 55, 171, 1);
    --wwwflowgeckocom1440x810defaultmine-shaft: rgba(34, 34, 34, 1);
    --typography-2x-xl-bold-font-family: "Poppins", Helvetica;
    --typography-2x-xl-bold-font-weight: 700;
    --typography-2x-xl-bold-font-size: 83px;
    --typography-2x-xl-bold-letter-spacing: 0px;
    --typography-2x-xl-bold-line-height: 108.00000429153442%;
    --typography-2x-xl-bold-font-style: normal;
    --typography-xl-bold-font-family: "Poppins", Helvetica;
    --typography-xl-bold-font-weight: 700;
    --typography-xl-bold-font-size: 63px;
    --typography-xl-bold-letter-spacing: 0px;
    --typography-xl-bold-line-height: 108.00000429153442%;
    --typography-xl-bold-font-style: normal;
    --typography-l-bold-font-family: "Poppins", Helvetica;
    --typography-l-bold-font-weight: 700;
    --typography-l-bold-font-size: 47px;
    --typography-l-bold-letter-spacing: 0px;
    --typography-l-bold-line-height: 108.00000429153442%;
    --typography-l-bold-font-style: normal;
    --typography-m-bold-font-family: "Poppins", Helvetica;
    --typography-m-bold-font-weight: 700;
    --typography-m-bold-font-size: 35px;
    --typography-m-bold-letter-spacing: 0px;
    --typography-m-bold-line-height: 108.00000429153442%;
    --typography-m-bold-font-style: normal;
    --typography-s-bold-font-family: "Poppins", Helvetica;
    --typography-s-bold-font-weight: 700;
    --typography-s-bold-font-size: 27px;
    --typography-s-bold-letter-spacing: 0px;
    --typography-s-bold-line-height: 108.00000429153442%;
    --typography-s-bold-font-style: normal;
    --typography-xs-bold-font-family: "Poppins", Helvetica;
    --typography-xs-bold-font-weight: 700;
    --typography-xs-bold-font-size: 20px;
    --typography-xs-bold-letter-spacing: 0px;
    --typography-xs-bold-line-height: 108.00000429153442%;
    --typography-xs-bold-font-style: normal;
    --body-13-font-family: "Inter", Helvetica;
    --body-13-font-weight: 400;
    --body-13-font-size: 13px;
    --body-13-letter-spacing: 0px;
    --body-13-line-height: 120.00000476837158%;
    --body-13-font-style: normal;
    --body-20-font-family: "Inter", Helvetica;
    --body-20-font-weight: 400;
    --body-20-font-size: 20px;
    --body-20-letter-spacing: 0px;
    --body-20-line-height: 120.00000476837158%;
    --body-20-font-style: normal;
    --body-32px-font-family: "Inter", Helvetica;
    --body-32px-font-weight: 400;
    --body-32px-font-size: 32px;
    --body-32px-letter-spacing: 0px;
    --body-32px-line-height: 120.00000476837158%;
    --body-32px-font-style: normal;
    --body-25-font-family: "Inter", Helvetica;
    --body-25-font-weight: 400;
    --body-25-font-size: 25px;
    --body-25-letter-spacing: 0px;
    --body-25-line-height: 120.00000476837158%;
    --body-25-font-style: normal;
    --body-16-font-family: "Inter", Helvetica;
    --body-16-font-weight: 400;
    --body-16-font-size: 16px;
    --body-16-letter-spacing: 0px;
    --body-16-line-height: 120.00000476837158%;
    --body-16-font-style: normal;
    --body-40px-font-family: "Inter", Helvetica;
    --body-40px-font-weight: 400;
    --body-40px-font-size: 40px;
    --body-40px-letter-spacing: 0px;
    --body-40px-line-height: 120.00000476837158%;
    --body-40px-font-style: normal;
    --typography-l-font-family: "Inter", Helvetica;
    --typography-l-font-weight: 400;
    --typography-l-font-size: 30px;
    --typography-l-letter-spacing: 0px;
    --typography-l-line-height: 120.00000476837158%;
    --typography-l-font-style: normal;
    --typography-xl-font-family: "Inter", Helvetica;
    --typography-xl-font-weight: 800;
    --typography-xl-font-size: 61px;
    --typography-xl-letter-spacing: 0px;
    --typography-xl-line-height: 120.00000476837158%;
    --typography-xl-font-style: normal;
    --typography-xxl-font-family: "Inter", Helvetica;
    --typography-xxl-font-weight: 400;
    --typography-xxl-font-size: 34px;
    --typography-xxl-letter-spacing: 0px;
    --typography-xxl-line-height: 120.00000476837158%;
    --typography-xxl-font-style: normal;
    --typography-s-font-family: "Inter", Helvetica;
    --typography-s-font-weight: 800;
    --typography-s-font-size: 36px;
    --typography-s-letter-spacing: 0px;
    --typography-s-line-height: 120.00000476837158%;
    --typography-s-font-style: normal;
    --typography-m-font-family: "Inter", Helvetica;
    --typography-m-font-weight: 800;
    --typography-m-font-size: 48px;
    --typography-m-letter-spacing: 0px;
    --typography-m-line-height: 120.00000476837158%;
    --typography-m-font-style: normal;
    --variable-collection-600: rgba(105, 56, 239, 1);
    --variable-collection-g900: rgba(16, 15, 20, 1);
    --variable-collection-g600: rgba(73, 71, 90, 1);
    --variable-collection-g400: rgba(151, 148, 170, 1);
    --variable-collection-g500: rgba(104, 102, 119, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-g300: rgba(203, 202, 215, 1);
}
